$background: #EDF6F9;
$texto: #165380;
$azul-claro: #48BFE3;
$azul-escuro: #4E54C8;

@mixin nunito($tamanho) {
  font-family: 'nunito', sans-serif;

  @if($tamanho == 45) {
    font-size: 45px;
    font-weight: 900;
  } @else if ($tamanho == 35) {
    font-size: 35px;
  } @else if ($tamanho == 30) {
    font-size: 30px;
  } @else if ($tamanho == 20) {
    font-size: 20px;
  }
}

@mixin montserrat($tamanho) {
  font-family: 'montserrat', sans-serif;

  @if($tamanho == 18){
    font-size: 18px;
    text-transform: uppercase;
  } @else if ($tamanho == 16){
    font-size: 16px;
    text-transform: uppercase;
  } @else if ($tamanho == 14) {
    font-size: 14px;
  } @else if ($tamanho == 13) {
    font-size: 13px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

nav{
  text-align: center;
  padding: 30px;

  img {
    height: 70px;
    width: 246px;
  }

  li{
    display: inline;
    justify-content: space-between;
    padding: 0 20px;
    @include montserrat(16);
    
    a {
      color: $texto;
      text-decoration: none;
    }
  }

}

main{
  section.page-initial {
    text-align: center;
    background-image: url(../assets/arte_homepage.svg );
    width: 411px;
    height: 460px;
    h1 {
      @include nunito(30);
      color: $texto;
    }
      
    a {
      text-decoration: none;
      padding: 5px;
      border-radius: 10px;
      background-color: $texto;
      color: $background;
      @include montserrat(18)
    }
      
    img {
       display: none;
    }
  }
}
